<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzw.mapper.ShellExecuteLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yzw.entity.ShellExecuteLog">
        <id column="id" property="id" />
        <result column="shell_host" property="shellHost" />
        <result column="shell_base_id" property="shellBaseId" />
        <result column="status" property="status" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
